* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* -----------------div 1---------------- */

@font-face {
    font-family: arimo;
    src: url(./font/Arimo-VariableFont_wght.ttf);
}

.parent {

    font-family: "Arimo", serif;
    font: weight 800px;
    font-style: normal;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;


    height: 2000px;
}


.children {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}

.logo {

    display: block;
    position: relative;
    top: 20px;
}

.li {

    display: inline;
}




/* -----------------div 2---------------- */

/* -----------------div 3---------------- */

/* -----------------div 4---------------- */

/* -----------------div 5---------------- */

/* -----------------div 6---------------- */

/* -----------------div 7---------------- */

/* -----------------div 8---------------- */

/* -----------------div 9---------------- */

/* -----------------div 10---------------- */

/* -----------------div 11---------------- */

/* -----------------div 12---------------- */

/* -----------------div 13---------------- */



